html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 0px 50px;
    position: sticky;
    top: 0;
    background: white;
    min-width: 100%;
}

header {
    grid-column: span 12;
}

aside {
    grid-column: span 2;
}

main {
    grid-column: span 10;
}

footer {
    grid-column: span 12;
}

header {
    display: flex;
    grid-gap: 40px;
}

    header > div:nth-child(1) {
        margin-left: 10%;
    }

    header > div:nth-child(4) {
        margin-left: auto;
    }


/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
        background-color: #2980B9;
    }

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ddd
        }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}


/* Dropdown HOVER Button */
.dropHoverbtn {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdownHover {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdownHover-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdownHover-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdownHover-content a:hover {
            background-color: #ddd;
        }

/* Show the dropdown menu on hover */
.dropdownHover:hover .dropdownHover-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdownHover:hover .dropHoverbtn {
    background-color: #3e8e41;
}



a:nth-child(2n+1) {
    color: blue;
}

.text-blue {
    color: blue;
}

button.new {
    background-color: yellow;
    border: none;
    color: black;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    z-index: 99999999;
    display: block;
    position: fixed;
    right: -20px;
    top: 50%;
}

button.headers {
    background-color: orangered;
    color: white;
    width: 86px;
    height: 34px;
    border: none;
}
