@{
    ViewData["Title"] = "Home Page";
}
<div class="rectangle "> <h3 class="col-sm py-3 py-md-3 px-3" style="transform: rotate(90deg)">Link</h3></div>
<div class="row bg-secondary" >
    <div class="col-sm py-3 py-md-3 px-3">
        <h1 class="text-white px-0 px-md-4">Random text</h1>
        <p>Folly was these three and songs arose whose.
            Of in vicinity contempt together in possible branched.
            Assured company hastily looking garrets in oh.
            Most have love my gone to this so.
            Discovered interested prosperous the our affronting insipidity day.
            Missed lovers way one vanity wishes nay but.
            Use shy seemed within twenty wished old few regret passed.
            Absolute one hastened mrs any sensible.</p>
    </div>
    <div class="col-sm col-sm py-2 mt-0 mb-2 mb-md-0 px-md-4 py-md-4">
        <img src="https://picsum.photos/469/214" class="img-fluid float-right" alt="Responsive image">
    </div>
</div>
<div class="row bg-black">
    <div class="col-sm col-sm py-2 mt-0 mb-2 mb-md-0 px-md-4 py-md-4">
        <img src="https://picsum.photos/470/214" class="img-fluid float-right" alt="Responsive image">
    </div>
    <div class="col-sm py-3 py-md-3 px-3">
        <h1 class="text-white px-0 px-md-4">Random text</h1>
        <p class="text-white">
            Smile spoke total few great had never their too.
            Amongst moments do in arrived at my replied.
            Fat weddings servants but man believed prospect.
            Companions understood is as especially pianoforte connection introduced.
            Nay newspaper can sportsman are admitting gentleman belonging his.
            Is oppose no he summer lovers twenty in. Not his difficulty boisterous surrounded bed.
            Seems folly if in given scale. Sex contented dependent conveying advantage can use.
        </p>
    </div>
</div>
<div class="row bg-secondary">
    <div class="col-sm py-3 py-md-3 px-3">
        <h1 class="text-white px-0 px-md-4">Random text</h1>
        <p>
            Her extensive perceived may any sincerity extremity.
            Indeed add rather may pretty see.
            Old propriety delighted explained perceived otherwise objection saw ten her.
            Doubt merit sir the right these alone keeps.
            By sometimes intention smallness he northward.
            Consisted we otherwise arranging commanded discovery it explained.
            Does cold even song like two yet been.
        </p>
    </div>
    <div class="col-sm col-sm py-2 mt-0 mb-2 mb-md-0 px-md-4 py-md-4">
        <img src="https://picsum.photos/468/214" class="img-fluid float-right" alt="Responsive image">
    </div>
</div>